.mistakes {
  margin: 3em 0;
  display: flex;
  flex-direction: column;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 1em;
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 14em;
    height: 15em;
    border-radius: 0.625em;
    background: #fff;
    box-shadow: 0 4px 25px #00000026;
    padding: 1em 1.2em;
    transition: background-color 0.3s ease;

    &:hover {
      background: var(--yellow);
      cursor: pointer;
    }

    &-img {
      width: 3em;
      height: 3em;
      margin-bottom: 1em;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        display: block;
        transition: opacity 0.3s ease;
      }

      img.hover {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
      }

      .mistakes__card:hover & img.hover {
        opacity: 1;
      }

      .mistakes__card:hover & img.default {
        opacity: 0;
      }
    }

    &-text {
      padding-bottom: 3em;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      color: var(--gray);

      h1 {
        margin: 0 0 0.5em;
        font-family: 'Playfair';
        font-weight: 700;
        font-size: 1.1em;
        text-transform: capitalize;
      }

      p {
        margin: 0;
        font-family: 'Commissioner';
        font-weight: 400;
        font-size: 0.8rem;
        line-height: 1.4;
      }
    }
  }
}



@media (max-width: 900px) {
  .mistakes__content {
    justify-content: center;
  }
  
}

@media (min-width: 1000px) and (max-width: 1500px) {
  .mistakes__content {
    gap: 0.8em;
  }
  .mistakes__card {
    width: 12em;
    height: 13em;
    padding: 0.8em 1em;
  }
  .mistakes__card-img {
    width: 2.2em;
    height: 2.2em;
  }
  .mistakes__card-text h1 {
    font-size: 1em;
  }
  .mistakes__card-text p {
    font-size: 0.75rem;
  }
}


@media (max-width: 1200px) {
  .mistakes__content {
    padding: 0 4em;
    gap: 1.5em;
  }
  .mistakes__card {
    width: 13em;
    height: 13em;
  }
}


@media (max-width: 480px) {
  .mistakes__content {
    padding: 0;
    justify-content: center;
    gap: 1em;
  }
  .mistakes__card {
    flex: 0 1 calc(50% - 1em);
    max-width: calc(50% - 1em);
    height: auto;
  }
}


@media (max-width: 350px) {
  .mistakes__content {
    padding: 0;
    justify-content: center;
    gap: 0.8em;
  }
  .mistakes__card {
    flex: 0 1 100%;
    max-width: 100%;
    height: auto;
    padding: 0.6em 1em;
  }
  .mistakes__card-img {
    width: 2.5em;
    height: 2.5em;
    margin-bottom: 0.8em;
  }
  .mistakes__card-text h1 {
    font-size: 0.95em;
  }
  .mistakes__card-text p {
    font-size: 0.7rem;
    line-height: 1.3;
  }
}
