.staff {
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;

  &__people {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 2em;
    margin-bottom: 3em;
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 15.75em;
    height: 21.6em;
    margin-bottom: 3em;

    &:nth-child(1) &-img {
      background-image: url('../КАРТИНКИ/staff3.svg');
    }
    &:nth-child(2) &-img {
      background-image: url('../КАРТИНКИ/staff2.svg');
    }
    &:nth-child(3) &-img {
      background-image: url('../КАРТИНКИ/staff1.svg');
    }

    &-img {
      width: 15em;
      height: 15em;
      border-radius: 50%;
      background: var(--yellow) center/cover no-repeat;
    }

    &-text {
      display: flex;
      flex-direction: column;
      gap: 0.4em;
      font-family: 'Commissioner';
      color: var(--gray);

      h1 {
        margin: 0;
        font-weight: 600;
        font-size: 0.95em;
      }

      h2 {
        margin: 0;
        font-weight: 400;
        font-size: 0.7em;
      }

      p {
        margin: 0;
        width: 100%;
        height: 3em;
        font-weight: 400;
        font-size: 1em;
        text-align: center;
      }
    }
  }
}

@media (max-width: 1200px) {
  .staff__people {
    justify-content: center;
    gap: 2em;
  }

  .staff__card {
    width: 14em;
    height: 20em;
  }

  .staff__card-img {
    width: 13em;
    height: 13em;
  }

  .staff__card-text h1 {
    font-size: 0.9em;
  }

  .staff__card-text p {
    font-size: 0.95em;
  }
}


@media (max-width: 768px) {
  .staff__people {
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1.5em;
    padding: 1.5em;
  }

  .staff__card {
    width: 12em;
    height: auto;
    margin-bottom: 2em;
  }

  .staff__card-img {
    width: 10em;
    height: 10em;
  }

  .staff__card-text h1 {
    font-size: 0.85em;
  }

  .staff__card-text h2 {
    font-size: 0.65em;
  }

  .staff__card-text p {
    font-size: 0.9em;
  }
}


@media (max-width: 480px) {
  .staff__people {
    flex-direction: column;
    align-items: center;
    gap: 1.2em;
    padding: 1em;
  }

  .staff__card {
    width: 90%;
    max-width: 18em;
    height: auto;
    margin-bottom: 1.5em;
  }

  .staff__card-img {
    width: 8em;
    height: 8em;
  }

  .staff__card-text h1 {
    font-size: 0.8em;
  }

  .staff__card-text h2 {
    font-size: 0.6em;
  }

  .staff__card-text p {
    font-size: 0.85em;
  }
}

@media (max-width: 320px) {
  .staff__people {
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding: 0.8em;
  }

  .staff__card {
    width: 100%;
    max-width: 16em;
    height: auto;
    margin-bottom: 1em;
  }

  .staff__card-img {
    width: 7em;
    height: 7em;
  }

  .staff__card-text h1 {
    font-size: 0.75em;
  }

  .staff__card-text h2 {
    font-size: 0.55em;
  }

  .staff__card-text p {
    font-size: 0.8em;
    line-height: 1.3;
  }
}
