.discount {
  display: flex;
  align-items: center;
  margin-top: 4em;
  justify-content: flex-end;
  background: url(../КАРТИНКИ/back5.svg) center/cover no-repeat;
  height: 25.6em;
  width: 100%;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3vh;
    height: 100%;
    font-family: 'Commissioner';
    margin-right: 2vw;

    background: linear-gradient(
      to left,
      rgb(255, 255, 255) 70%,
      rgba(0, 0, 0, 0) 100%
    );
    padding: 2em 3em;
  }

  &__title {
    margin: 0;
    font-weight: 600;
    font-size: 4em;
    text-align: center;
    text-transform: capitalize;
    color: var(--yellow);
  }

  &__subtitle {
    margin: 0;
    font-weight: 600;
    font-size: 2.2em;
    text-align: center;
    color: var(--gray);
  }

  &__text {
    margin: 0;
    font-weight: 200;
    font-size: 1.2em;
    text-align: center;
    color: var(--gray);
  }
}
@media (max-width: 1024px) {
  .discount {
    height: 22em;
  }

  .discount__title {
    font-size: 3.2em;
  }

  .discount__subtitle {
    font-size: 1.8em;
  }

  .discount__text {
    font-size: 1.1em;
  }
}


@media (max-width: 768px) {
  .discount {
    justify-content: center;
    height: 17em;
    padding: 2em 0;
  }

  .discount__content {
    height: 100%;
    margin-right: 0;
    gap: 2vh;
  }

  .discount__title {
    font-size: 2.6em;
  }

  .discount__subtitle {
    font-size: 1.6em;
  }

  .discount__text {
    font-size: 1em;
  }
}


@media (max-width: 480px) {
  .discount {
    margin-top: 2em;
  }

  .discount__content {
    gap: 1.5vh;
  }

  .discount__title {
    font-size: 2em;
  }

  .discount__subtitle {
    font-size: 1.3em;
  }

  .discount__text {
    font-size: 0.9em;
  }
}


@media (max-width: 320px) {
  .discount__content {
    gap: 1vh;
  }

  .discount__title {
    font-size: 1.6em;
  }

  .discount__subtitle {
    font-size: 1.1em;
  }

  .discount__text {
    font-size: 0.8em;
  }
}