.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1b1b1b url(../КАРТИНКИ/back1.svg) no-repeat center/cover;
  width: 100%;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30vh 10vh;
    gap: 0.5vh;
  }

  &__title {
    margin: 0;
    text-align: center;
    font-family: 'Playfair';
    font-size: 3.6em;
    text-transform: uppercase;
    color: #fff;
  }

  &__subtitle {
    text-align: center;
    margin: 0;
    font-size: 1.1em;
    font-weight: 300;
    color: #fff;
  }

  &__features {
    margin: 0;
    font-size: 0.8em;
    color: #efefef;
    list-style-image: url(../КАРТИНКИ/Vector.svg);
  }

  &__feature {
    margin: 1vw;
  }

  &__feature-text {
    &--highlight {
      color: var(--yellow);
    }
  }

  .button {


   &:hover {
      color: #EFEFEF;
    }

}

}
@media (max-width: 768px) {
  .hero__title {
    font-size: 2.8em;
  }

  .hero__subtitle {
    font-size: 1em;
  }

  .hero__features {
    font-size: 0.75em;
  }

  .hero .button {
    font-size: 0.75em;
  }

  .hero__content{
    padding: 8em 2em;
  }
}

@media (max-width: 480px) {
  .hero__title {
    font-size: 2.2em;
  }

  .hero__content {
    padding: 2em 0;
  }

  .hero__subtitle {
    font-size: 0.9em;
  }

  .hero__features {
    font-size: 0.7em;
  }

  .hero .button {
    font-size: 0.7em;
  }
}

@media (max-width: 320px) {
  .hero__title {
    font-size: 1.8em;
  }

  .hero__subtitle {
    font-size: 0.8em;
  }

  .hero__features {
    font-size: 0.65em;
  }

  .hero .button {
    font-size: 0.65em;
  }
}