.promo {
  display: flex;
  height: auto;
  margin-top: 4em;
  background: url(../КАРТИНКИ/back3.svg) center/cover no-repeat;

  &__left {
    display: flex;
    align-self: flex-end;
    width: 50vw;
  }

  &__image {
    width: 100%;
    height: 100%;
  }

  &__right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1em;
    padding: 6vw;
    color: #efefef;
  }

  &__text {
    margin: 0;
  }

  &__text-machine {
    margin: 0;
    background: var(--yellow);
    color: var(--gray);
    padding: 0.5em 2em;
    border-radius: 2em;
  }

  &__subheading {
    margin: 0;
  }

  &__heading {
    margin: 0;
  }

  &__title {
    margin: 0;
  }

  .tittle_withline-line {
    margin-bottom: 0;
  }

  &__timer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    background: var(--yellow);
    font-family: 'Commissioner';
    border-radius: 1em;
    padding: 1em;

    &-separator {
      font-size: 1.9em;
      color: var(--gray);
      font-weight: 400;
      margin: 0;
    }

    &-segment {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: var(--gray);
      min-width: 1vw;
    }

    &-value {
      font-size: 1.5em;
      font-weight: bold;
    }

    &-label {
      font-size: 0.9em;
      margin-top: 0.1em;
    }
  }
}

@media (max-width: 1024px) {

  .promo {
    text-align: center;
  }

  .promo__left,
  .promo__right {
    width: 100%;
  }

  .promo__content {
    padding: 8vw 4vw;
  }

  .promo__timer {
    gap: 2vw;
  }
}


@media (max-width: 600px) {

  .promo__left {
    display: none;
  }


  .promo__right {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .promo__content {
    padding: 10vw 6vw;
    text-align: center;
    gap: 0.7em;
  }

  .promo__text-machine {
    padding: 0.5em 1.4em;
    font-size: 0.9em;
  }

 
  .promo__timer {
    flex-wrap: wrap;        
    gap: 4vw;               
    padding: 0.8em;
  }

  .promo__timer-value {
    font-size: 1.3em;
  }

  .promo__timer-label {
    font-size: 0.85em;
  }
}



@media (max-width: 420px) {

  .promo__content {
    padding: 12vw 7vw;
  }

  .promo__timer {
    width: 100%;
    padding: 0.8em 1em;
    border-radius: 1.2em;
  }

  .promo__timer-value {
    font-size: 1.15em;
  }

  .promo__timer-label {
    font-size: 0.75em;
  }

  .promo__text-machine {
    font-size: 0.85em;
  }
}


@media (max-width: 350px) {

  .promo__content {
    padding: 14vw 8vw;
    gap: 0.6em;
  }

  .promo__timer {
    padding: 0.7em;
    gap: 1vw;
    border-radius: 1.4em;
  }

  .promo__timer-value {
    font-size:  1em;
  }

  .promo__timer-label {
    font-size: 0.7em;
  }

  .promo__text-machine {
    padding: 0.4em 1.2em;
    font-size: 0.75em;
  }
}