.sale {
  display: flex;
  flex-direction: column;

  &__form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1.5em;
    width: 100%;
  }

  &__content {
    padding: 2em;
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: #F9F9F9;
    align-items: center;
    border-radius: 0.5em;
    width: 40%;
  }

  &__variants {
    display: flex;
    flex-direction: column;
    align-self: flex-start;

    &-title {
      font-size: 1em;
      color: var(--gray);
      margin: 0;
    }
  }

&__calculator-form{
  width: 100%;
}

  &__list {
    display: flex;
    flex-direction: row;
    gap: 1.75em;
    padding: 1em;

    li::marker {
      color: var(--yellow);
    }

    &-item {
      font-size: 0.9em;
    }
  }


  &__inputs {
    color: var(--gray);
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: space-between;
    width: 100%;
  }

  &__input-group {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 2.35em;
    align-items: center;
    justify-content: space-between;
  }

  &__input-label {
    width: 12.6em;
    font-size: 1em;
    margin: 0;
  }

  &__input {
    width: auto;
    height: 2.35em;
    border-radius: 1.25em;
    border: #E5E5E5 solid 2px;
    padding-left: 0.8em;
    font-size: 0.95em;

    &:focus {
      border: var(--yellow) 2px solid;
      outline: none;
    }
  }

  &__price {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 1em;
    background-color: #F1F0F0;
    height: 2.9em;
    margin-top: 2em;
    align-self: center;
  }

  &__price-label,
  &__price-value {
    margin: 0;
  }

  &__feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.8em;
    width: 100%;
    margin-top: 1.5em;

    &-fields {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    }

    &-input {
      display: block;
      border-radius: 1.25em;
      width: 40%;
      border: #F1F0F0 2px solid;
      padding-left: 0.8em;
      height: 2.35em;
      font-weight: 300;
      font-style: normal;
      font-size: 0.9em;

      &:focus {
        border: var(--yellow) 2px solid;
        outline: none;
      }
    }

    .button {
      width: 96%;
      padding: 0.8em;
      font-size: 0.8em;
      margin: 0;
    }

    p {
      font-size: 0.8em;
    }
  }

  &__img {
    background-image: url(../КАРТИНКИ/back7.svg);
    background-position: center;
    background-size: cover;
    width: 60vw;
    height: auto;
    border-radius: 0.5em;
  }
}

@media (max-width: 1024px) {
  .sale__form {
    flex-direction: column;
    align-items: center;
  }

  .sale__content {
    width: 80%;
  }

  .sale__img {
    width: 100%;
    height: 40vh;
    margin-top: 2em;
  }
}


@media (max-width: 768px) {
  .sale__content {
    width: 90%;
    padding: 1.5em;
  }
  .sale__price {
    padding: 0 1.5em;
  }
  .sale__img {
    width: 100%;
  }

  .sale__input-label {
    font-size: 0.9em;
  }

  .sale__input,
  .sale__feedback-input {
    font-size: 0.85em;
  }
}


@media (max-width: 480px) {
  .sale__form {
    gap: 1em;
  }

  .sale__content {
    padding: 1em;
  }

  .sale__price {
    padding: 0 1em;
  }

  .sale__variants-title {
    font-size: 0.9em;
  }

  .sale__list-item {
    font-size: 0.8em;
  }

  .sale__img {
    height: 22vh;
  }

  .sale__input-label {
    width: auto;
    font-size: 0.85em;
  }

  .sale__input-group {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.6em;
    height: auto;
  }

  .sale__input {
    width: 100%;
  }

  .sale__feedback-fields {
    flex-direction: column;
    gap: 0.8em;
  }

  .sale__feedback-input {
    width: 100%;
  }

  .sale__feedback .button {
    font-size: 0.75em;
  }
}

@media (max-width: 320px) {
  .sale__content {
    padding: 0.8em;
  }

  .sale__input-label {
    font-size: 0.8em;
  }

  .sale__input,
  .sale__feedback-input {
    font-size: 0.8em;
    height: 2em;
    width: 80vw;
  }

  .sale__img {
    height: 18vh;
  }

  .sale__price {
    font-size: 0.9em;
  }
}