.advantages {
  margin: 0 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__cards {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch; 
    justify-content: space-between;
    gap: 1.5em;
  }

  &__card {
    flex: 1 1 15em; 
    max-width: 18em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vh 1em;
    height: auto;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.15);
    border-radius: 1vw;
    box-sizing: border-box;
    gap: 1em;
    background-color: #fff;

    &-icon {
      width: clamp(1.6em, 2vw, 2em);
      height: clamp(1.6em, 2vw, 2em);
      flex-shrink: 0;
    }

    &-title {
      margin: 0;
      font-family: 'Playfair Display', serif;
      font-weight: 500;
      font-size: clamp(1em, 2vw, 1.2em); 
      line-height: 1.2;
      text-align: center;
      text-transform: capitalize;
      color: var(--gray);
    }

    &-text {
      margin: 0;
      font-size: clamp(0.75em, 1.5vw, 0.85em);
      text-align: center;
      color: var(--gray);
      width: 90%;
    }
  }
}

@media (max-width: 1450px) {
  .advantages__card {
    flex: 1 1 7em; 
  }
}

@media (max-width: 900px) {
  .advantages__card {
    flex: 1 1 45%; 
  }
}

@media (max-width: 500px) {
  .advantages__cards {
    justify-content: center;
  }

  .advantages__card {
    flex: 1 1 100%; 
  }
}
