.blog {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;

  &__big{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__card {
    width: 100%;
    max-width: 18em;
    padding: 0.8em;
    height: 20em;
    color: var(--gray);
    background: #f9f9f9;
    border-radius: 0.5em;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    }

    img {
      width: 100%;
      aspect-ratio: 16 / 9;
      object-fit: cover;
      border-radius: 0.25em;
    }

    h3 {
      font-size: 0.9em;
      margin: 0.4em 0;
      font-family: 'Playfair';
      
    }

    &__p {
      font-family: 'Commissioner';
      font-size: 0.75em;
      line-height: 1.3;
    }

    .button {
      margin-top: auto;
      padding: 0.5em 1em;
      font-size: 0.75em;
      width: 85%;
      text-align: center;
      justify-self: center;
    }
  }
}

@media (min-width: 480px) {
  .blog__card {
    width: 48%;
    h3 { font-size: 1em; }
    &__p { font-size: 0.8em; }
  }
}

@media (min-width: 767px) {
  .blog__card {
    width: 30%;
    max-width: 14em;
    padding: 0.75em;
    h3 { font-size: 1em; }
    &__p { font-size: 0.8em; }
    .button { font-size: 0.75em; padding: 0.5em 1em; }
  }
}

@media (min-width: 960px) {
  .blog{
    flex-direction: row;
    gap: 0.8em;
  }
  .blog__card {
    width: 18em;
    h3 { font-size: 1.1em; }
    &__p { font-size: 0.85em; }
  }
}

@media (min-width: 1200px) {
  .blog {
    gap: 1.5em;
  }
  .blog__card {
    max-width: 22em;
    padding: 1em;
    h3 { font-size: 1.2em; }
    &__p { font-size: 0.9em; }
    .button { font-size: 0.85em; padding: 0.7em 1.4em; }
  }
}

@media (max-width: 350px) {
  .blog__card {
    max-width: 15em;
    padding: 0.5em;
      h3 { 
        font-size: 0.8em; 
        text-align: start; 
      }
      &__p { 
        font-size: 0.7em; 
        text-align: start;
      }
      .button { font-size: 0.65em; }
  }
  .blog__card__date{
    font-size: 0.8em;
  }
}
