.tittle_withline {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  align-self: center;
  width: 60vw;
  margin: 1em 0;

  &-text {
    margin: 0;
    font-family: 'Playfair';
    color: var(--gray);
    text-align: center;
    font-weight: 600;
    align-self: center;
  }

  &-line {
    display: inline-block;
    margin: 1em 0;
    width: 8vw;
    border-bottom: 0.35em solid var(--yellow);
  }

  &__highlight {
    color: var(--yellow);
  }
}
  
@media (max-width: 1200px) {
  .tittle_withline-text {
    font-size: 1.4em;
  }
}

@media (max-width: 768px) {
  .tittle_withline-text {
    font-size: 1.2em;
  }
}

@media (max-width: 480px) {
  .tittle_withline-text {
    font-size: 1em;
  }
}


@media (max-width: 320px) {
  .tittle_withline-text {
    font-size: 0.9em;
  }
}
